.container {
    margin-top: 80px;
    position: relative;
}

textarea {
    background-color: #F5F5F5;
    border: 2px solid rgba(6, 87, 174, 0.861);
    border-radius: 40px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    color: #333333;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    height: 150px;
    line-height: 1.5;
    padding: 10px;
    overflow: auto;
    position: relative;
    resize: none;
    width: 100%;
}

textarea:hover {
    background-color: #F5F5F5;
    border: 2px solid rgba(6, 87, 174, 0.861);
}

textarea[disabled] {
    border: 2px solid rgba(6, 87, 174, 0.861);
    background-color: #F5F5F5;

}

textarea:focus {
    background-color: #F5F5F5;
    border: 2px solid rgba(6, 87, 174, 0.861);
}

.chat-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-right: 20px;

}

button {
    margin-top: 30px;
    margin-left: 15px;
    background-color: #ffffff;
    border: none;
    border-radius: 200px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    height: 60px;
    width: 60px;
    padding: 10px;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #ffffff;
}

button[disabled] {
    border-color: #ffffff;
    background-color: #ffffff;
    cursor: not-allowed;
}

button img {
    max-width: 250%;
    max-height: 250%;
    margin-left: 0px;
}


.alert {
    background-color: #00802F;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    margin-bottom: 16px;
}

